<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Welcome to EMNBC</title>

        <style>
            /* All the styling goes here */
            body {
                margin: 15px;
            }

            p {
                margin: 10px 0;
            }

            h2 {
                margin-bottom: 30px;
                color: #0277bd;
            }

            .footer {
                margin-top: 40px;
            }
        </style>

    </head>
    <body>

        <h2>Welcome to EMNBC Systems.</h2>

        <p>Hi <strong>{{firstName}}</strong>,</p>

        <p>Your registration data:</p>
        <p>
            <strong>User:</strong> {{firstName}} {{lastName}}<br>
            <strong>Email:</strong> {{email}}<br>
            <strong>Username:</strong> {{username}}
        </p>

        <div class="footer">&copy; <em>emnbc.com</em></div>

    </body>

</html>